[user]
	name = tighug
	email = tighug.4696@gmail.com
[core]
	editor = vim
[pull]
	rebase = false
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
